html,
body {
  width: 100vw;
  min-height: 100vh;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#root {
  height: 100vh;
}

span {
  font-weight: bold;
}

p {
  margin: 0.5em;
}
